.titleContainer {
  position: relative;
}

.titleContainer::before {
  content: '';
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  background-color: var(--color-figma-primary-50);
  left: -32px;
  top: 0;
  mask:
    linear-gradient(
      to right,
      transparent 50%,
      var(--color-figma-primary-50) 50%
    ),
    linear-gradient(
      to bottom,
      var(--color-figma-primary-50) 50%,
      transparent 50%
    ),
    radial-gradient(
      circle 16px at center,
      transparent 16px,
      var(--color-figma-primary-50) 16px
    );
  mask-composite: intersect;
}

.titleContainer::after {
  content: '';
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  background-color: var(--color-figma-primary-50);
  right: -32px;
  top: 0;
  mask:
    linear-gradient(
      to right,
      var(--color-figma-primary-50) 50%,
      transparent 50%
    ),
    linear-gradient(to top, transparent 50%, var(--color-figma-primary-50) 50%),
    radial-gradient(
      circle 16px at center,
      transparent 16px,
      var(--color-figma-primary-50) 16px
    );
  mask-composite: intersect;
}

@media (max-width: 1279px) {
  .titleContainer::before {
    width: 24px;
    height: 24px;
    left: -24px;
    top: 0;
    mask:
      linear-gradient(
        to right,
        transparent 50%,
        var(--color-figma-primary-50) 50%
      ),
      linear-gradient(
        to bottom,
        var(--color-figma-primary-50) 50%,
        transparent 50%
      ),
      radial-gradient(
        circle 12px at center,
        transparent 12px,
        var(--color-figma-primary-50) 12px
      );
    mask-composite: intersect;
  }

  .titleContainer::after {
    width: 24px;
    height: 24px;
    right: -24px;
    mask:
      linear-gradient(
        to right,
        var(--color-figma-primary-50) 50%,
        transparent 50%
      ),
      linear-gradient(
        to top,
        transparent 50%,
        var(--color-figma-primary-50) 50%
      ),
      radial-gradient(
        circle 12px at center,
        transparent 12px,
        var(--color-figma-primary-50) 12px
      );
    mask-composite: intersect;
  }
}
