.logo-container {
  transform-origin: left top;
  transition: transform 0.5s ease-in-out;
}

.banner-dynamic-padding {
  transition: padding-top 0.5s ease-in-out;
}

.scroll-indicator {
  animation: bounce 2s infinite;
}

.gradient-title-border {
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent calc(100% - 26px),
    #e5d9bf calc(100% - 26px),
    #e5d9bf 100%
  );
}
