.logo-container {
  transform-origin: left top;
  transition: transform 0.5s ease-in-out;
}

.banner-dynamic-padding {
  transition: padding-top 0.5s ease-in-out;
}

.scroll-indicator {
  animation: bounce 2s infinite;
}