.foldedCornerHolder {
  &:hover {
    .foldedCornerPc {
      overflow: hidden;
    }

    .foldedCornerPc::before {
      content: '';
      position: absolute;
      bottom: -110px;
      right: 33px;
      background: linear-gradient(
        to left bottom,
        transparent 50%,
        rgb(185 185 185) 50%,
        rgb(227 227 227) 65%,
        rgba(252, 250, 247, 1) 80%,
        rgba(255, 255, 255, 1) 100%
      );
      width: 77px;
      height: 110px;
      transform: rotate(270deg);
      transform-origin: top left;
      transition: all 0.3s ease-in-out;
    }

    .foldedCornerPc::after {
      content: '';
      position: absolute;
      bottom: 0px;
      right: 109px;
      background: linear-gradient(
        to left bottom,
        transparent 50%,
        #bfb5a0 50%,
        #d5c9b1 51%,
        #d8ccb4 55%,
        var(--color-figma-secondary-300) 75%
      );
      width: 58px;
      height: 120px;
      transform: rotate(81deg);
      transform-origin: bottom right;
      transition: all 0.3s ease-in-out;
    }
  }
}

@media (max-width: 1279px) {
  .foldedCornerMobile {
    overflow: hidden;
  }

  .foldedCornerMobile::before {
    content: '';
    position: absolute;
    bottom: -76px;
    right: 22px;
    background: linear-gradient(
      to left bottom,
      transparent 50%,
      rgb(185 185 185) 50%,
      rgb(227 227 227) 65%,
      rgba(252, 250, 247, 1) 80%,
      rgba(255, 255, 255, 1) 100%
    );
    width: 54px;
    height: 76px;
    transform: rotate(270deg);
    transform-origin: top left;
    z-index: 1;
  }

  .foldedCornerMobile::after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 75px;
    background: linear-gradient(
      to left bottom,
      transparent 50%,
      #bfb5a0 50%,
      #d5c9b1 51%,
      #d8ccb4 55%,
      var(--color-figma-secondary-300) 75%
    );
    width: 42px;
    height: 85px;
    transform: rotate(81deg);
    transform-origin: bottom right;
  }
}
