.background {
  background: linear-gradient(
    180deg,
    var(--color-figma-neutral-50) 0%,
    var(--color-figma-secondary-100) 100%
  );
}

.bookImage01 {
  background-image: url('/theme/book.svg');
  background-position: -180px 100%;
  background-repeat: repeat-x;
}

.bookImage02 {
  background-image: url('/theme/book.svg');
  background-position: 150px -250%;
  background-repeat: repeat-x;
}

.bannerImage01 {
  background-image: url('/theme/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bannerImage02 {
  background-image: url('/theme/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bannerTitle::before {
  transform: translateY(-50%) rotate(45deg);
}

.bannerTitle::after {
  transform: translateY(-50%) rotate(-45deg);
}

.bannerImage03 {
  background-image: url('/theme/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bannerImage04 {
  background-image: url('/theme/card.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bannerImage05 {
  background-image: url('/theme/card.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
