.pattern {
  max-width: none;
  position: absolute;
  left: 15px;
  width: 107px;
  height: 311px;
  top: var(--pattern-top);
  transition: all 0.5s ease-in-out;
}

.patternVisible {
  opacity: 1;
  transform: scale(1);
}

.patternHidden {
  opacity: 0;
  transform: scale(0.95);
}

@media (min-width: 1024px) {
  .pattern {
    width: 182px;
    height: 533px;
  }
}
