.backgroundLayer1 {
  background-image: url(/free-tours/background.svg);
  background-position: 150px 200%;
  background-repeat: repeat-x;
}

.backgroundLayer2 {
  background-image: url(/free-tours/background.svg);
  background-position: 510px 35%;
  background-repeat: repeat-x;
}

.backgroundLayer3 {
  background-image: url(/free-tours/background.svg);
  background-position: 150px -140%;
  background-repeat: repeat-x;
}

.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0px 3px 1px #BDA05E80;
  outline: none;
  border: none;
}

.rangeInput::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0px 3px 1px #BDA05E80;
  outline: none;
  border: none;
}

.rangeInput:focus {
  outline: none;
}

.rangeInput:focus::-webkit-slider-thumb {
  outline: none;
  border: none;
}

.rangeInput:focus::-moz-range-thumb {
  outline: none;
  border: none;
}

